
<div class='row' style='background-color: white; margin-top: 50px; text-align: left; box-shadow: 3px 3px 1px #d3d3d3;'>
  <div class='col-md-6'>
  <img style='height: 240px; width: 550px; margin-top: 20px;' src="{{article.imagetop}}"/>
  </div>

  <div class='col-md-6' style='height: 270px; margin-left: 0px; margin-top: 10px; background: rgba(255,255,255,0.5)'>
    {{#link-to 'article' article.id}}
      <h1 {{action 'refreshPage'}}>{{article.title}}</h1>
    {{/link-to}}
    <p>{{article.body}}</p>
    <p>by {{article.writer}}</p>
  </div>
</div>
