<div class='container' style='text-align: center; width: 700px'>
  <h2>{{model.mainstory.title}}</h2>
  <h5>By {{model.mainstory.writer}} at {{model.mainstory.date}}</h5>
  <br>
  <img src="{{model.mainstory.imagetop}}" style='width: 700px; height:300px;'/>
  <br>
  <br>
  <p>{{model.mainstory.body}}</p>

  {{edit-post article=model.mainstory update='update'}}


  <h3>Reviews</h3>

  <div class='row' style='background: white; text-align: left; width: 725px; box-shadow: 3px 3px 1px #d3d3d3; padding: 20px;'>
    {{#each model.reviews as |review|}}
      <h5>Rating: {{review.rating}}    - by {{review.author}}</h5>
      <p>Review: {{review.content}}</p>
    {{/each}}
  </div>

  <br>

  {{new-review saveReview="saveReview" mainstory=model}}

  <br>

  <br>

</div>

<div class='container' style='background: rgba(46, 228, 255, 0.5); text-align: center'>
  <h1 style='margin-top: 10px; color: white'><i>Scroll Down for More Articles</i></h1>
</div>

<div class='container'>
  {{#each model.article as |article|}}
      {{infinite-scroll article=article}}
  {{/each}}
</div>
